<table class="table table-striped">
	<thead>
		<tr>
			<th>Name</th>
		</tr>
	</thead>
	<tbody>
		<% @book_categories.each do |book_category| %>
			<tr>
				<td><%= book_category.name %></td>
			</tr>
		<% end -%>
	</tbody>
</table>