<h1>New Book Category</h1>

<%= simple_form_for @book_category do |f| %>
	<%= f.input :name, label: "Category Name" %>
	<%= f.button :submit %>
<% end -%>
<br>
<%= link_to "Back", book_categories_path, class: "btn btn-primary btn-sm" %>